
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="/css/styleadmin.css")
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer")
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css")

    body 
        nav.sidebar.close
                    header
                        .image-text
                            span.image
                                img(src="/img/BASSPROD3.png", alt="logo")
                        .text.header-text
                            span.name #{usuario}
                            if cargo == 1
                                span.profecion Admin
                            else 
                                span.profecionn Empleado
                        i.fa-solid.fa-greater-than.toggle
                    .menu-bar
                        .menu
                            ul.menu-links
                                li.nav-link
                                    a(href="/sesion")
                                        i.fa-solid.fa-house
                                        span.text.nav-text Inicio
                                if cargo == 1
                                    li.nav-link
                                        a(href="/res")
                                            i.fa-solid.fa-user-tie
                                            span.text.nav-text Admin
                                li.nav-link
                                    a(href="/prod")
                                        i.fa-solid.fa-beer-mug-empty
                                        span.text.nav-text Productos
                                li.nav-link
                                    a(href="/ventas")
                                        i.fa-solid.fa-cart-shopping
                                        span.text.nav-text Ventas
                                li.nav-link
                                    a(href="/res")
                                        i.fa-solid.fa-calendar
                                        span.text.nav-text Reservas
                                

                        .bottom-content
                            li
                                a(href="/logout")
                                    i.fa-solid.fa-right-from-bracket
                                    span.text.nav-text Logout
                            li.mode
                                .moon-sun
                                    i.fa-regular.fa-moon.icon.moon
                                    i.fa-solid.fa-sun.icon.sun
                                span.mode-text.text Dark Mode
                                .toggle-switch
                                    span.switch
        .home 
            .container-fluid
                
                .row 
                    .col-lg-8
                        
                        .chart-container.card
                            .card-header.d-flex.justify-content-between.align-items-center.flex-wrap
                                h6.mb-0.d-flex.align-items-center
                                    i.bi.bi-pie-chart.text-success.me-2
                                    | Costos
                                .d-flex.gap-2.mt-2.mt-md-0
                                    button.btn.btn-primary.demo-button(type="button" data-bs-toggle="modal" data-bs-target="#dataModal")
                                        i.fas.fa-plus-circle.me-2
                                        | Agregar Egreso
                                    // Modal Simple
                                    .modal.fade#dataModal(tabindex="-1" aria-labelledby="dataModalLabel" aria-hidden="true")
                                        .modal-dialog.modal-dialog-centered
                                            .modal-content
                                                .modal-header
                                                    h5.modal-title#dataModalLabel
                                                        i.fas.fa-edit
                                                        | Ingresar Datos
                                                    button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")

                                                form#dataForm(action="/admin/add_egreso", method="post")
                                                    .modal-body
                                                        // Nombre
                                                        .form-group
                                                            label.form-label(for="nombre") Nombre
                                                            .input-group
                                                                span.input-group-text
                                                                    i.fas.fa-tag
                                                                input.form-control#nombre(type="text" name="nombre" placeholder="Ingresa el nombre" required)
                                                        // Tipo
                                                        .form-group
                                                            label.form-label(for="tipo") Tipo
                                                            .input-group
                                                                span.input-group-text
                                                                    i.fas.fa-list
                                                                select.form-select#tipo(name="tipo" required)
                                                                    option(value="") Selecciona un tipo
                                                                    if categorias && categorias.length 
                                                                        each categoria in categorias 
                                                                            option(value=categoria.id) #{categoria.nombre}

                                                        // Costo
                                                        .form-group
                                                            label.form-label(for="costo") Costo
                                                            .input-group
                                                                span.input-group-text
                                                                    i.fas.fa-dollar-sign
                                                                input.form-control#costo(type="number" name="costo" placeholder="0.00" step="0.01" min="0" required)

                                                    .modal-footer
                                                        button.btn.btn-secondary-custom(type="button" data-bs-dismiss="modal")
                                                            i.fas.fa-times.me-2
                                                            | Cancelar
                                                        button.btn.btn-primary-custom(type="submit")
                                                            i.fas.fa-check.me-2
                                                            | Guardar
                            .row.filtros
                                .col-lg-3
                                    .filtro-grupo
                                        label(for="fecha") Rango de fechas
                                        input(type="text" id="fecha" placeholder="seleccione el rango de fechas")
                                .col-lg-3        
                                    .filtro-grupo 
                                        label(for="categoria") Categoria egresos: 
                                        select(id="categoria")
                                            option(value="") seleccione una categoria 
                                            if categorias && categorias.length 
                                                each categoria in categorias 
                                                    option(value=categoria.id) #{categoria.nombre}
                                .col-lg-3  
                                    .filtro-grupo 
                                        label(for="Buscar") Buscar:
                                        input(type="text" name="nombre" id="busqueda" placeholder="busca por nombre")
                                .col-lg-3  
                                    .filtro-grupo 
                                        button#limpiarFiltros.btn.btn-secundary(type="button")
                                            i.fas.fa-broom 
                            .card-body.p-2
                                .table-responsive
                                    table.table.table-hover.table-sm.mb-0
                                        thead.table-light
                                            tr
                                                th.text-nowrap Hora
                                                th.text-nowrap.text-center Nombre
                                                th.text-nowrap.text-end Tipo
                                                th.text-nowrap.text-end Costo
                                                th.text-nowrap.text-center Empleado
                                                
                                        tbody#productosTable
                                            tr
                                                td(colspan="6").text-center.text-muted Cargando...
                                        
                    .col-lg-4
                        .chart-container.card
                            .card-header.d-flex.justify-content-between.align-items-center.flex-wrap
                                h6.mb-0.d-flex.align-items-center
                                    i.bi.bi-pie-chart.text-success.me-2
                                    | Empleados
                                .d-flex.gap-2.mt-2.mt-md-0
                                    button.btn.btn-primary.demo-button(type="button" data-bs-toggle="modal" data-bs-target="#loginModal")
                                        i.fas.fa-user-plus.me-2
                                        | Registro empleado
                            .card-body.p-2
                                .table-responsive
                                    table.table.table-hover.table-sm.mb-0
                                        thead.table-light
                                            tr
                                                th.text-nowrap Nombre
                                                th.text-nowrap Cargo
                                                th.text-nowrap Estado
                                                th.text-nowrap Cambios
                                        tbody
                                            if empleados && empleados.length 
                                                each empleado in empleados 
                                                    tr 
                                                        td.text-center 
                                                            strong #{empleado.nombre}
                                                        td.text-center  #{empleado.cargo}
                                                        td.text-center #{empleado.estado}
                                                        td.text-center 
                        

                            // Modal de Registro
                            .modal.fade#loginModal(tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true")
                                .modal-dialog.modal-xl.modal-dialog-centered
                                    .modal-content.add_empleado
                                        button.btn-close-custom(type="button" data-bs-dismiss="modal" aria-label="Close")
                                            i.fas.fa-times                                            
                                        .modal-body
                                            .row.g-0
                                                .col-lg-6.form_register
                                                    .login-panel                                                    
                                                        h2.login-title Regístrate
                                                        p.login-subtitle Completa el formulario para crear tu cuenta y comenzar tu experiencia.

                                                        form#loginForm(action="/admin/add_empleado", method="post")
                                                            .form-floating.mb-3
                                                                input#floatingName.form-control(type="text" name ="nombre" placeholder="Nombre completo" required)
                                                                label(for="floatingName") Nombre
                                                            
                                                            .form-floating.mb-3
                                                                input#floatingpassword.form-control(type="password" name="codigo" placeholder="Código" required)
                                                                label(for="floatingCode") Código
                                                            
                                                            .form-floating.mb-3
                                                                input#floatingEmail.form-control(type="email" name="correo" placeholder="name@example.com" required)
                                                                label(for="floatingEmail") Correo
                                                            
                                                            .form-floating.mb-3
                                                                select#floatingSelect.form-select(name="cargo" required)
                                                                    option(value="") Selecciona una opción
                                                                        if cargos && cargos.length 
                                                                            each cargo in cargos 
                                                                                option(value=cargo.id) #{cargo.cargo} 
                                                                label(for="floatingSelect") Tipo de Usuario

                                                            button.btn.btn-primary-custom.w-100.mb-4(type="submit")
                                                                i.fas.fa-user-check.me-2
                                                                | Registrarse
                                                .col-lg-6.promo-panel
                                                    .promo-content
                                                        h3.promo-title ¿Ya tienes una cuenta?
                                                        p.promo-subtitle Inicia sesión y continúa con tu increíble experiencia creativa.
                                                        button.btn.btn-outline-light-custom(type="button" onclick="showLogin()")
                                                            i.fas.fa-sign-in-alt.me-2
                                                            | INICIAR SESIÓN



                .row 
                    .col-lg-8
                       .chart-container.card
                            .card-header.d-flex.justify-content-between.align-items-center.flex-wrap
                                h6.mb-0.d-flex.align-items-center
                                    i.bi.bi-pie-chart.text-success.me-2
                                    | Ventas
                                .d-flex.gap-2.mt-2.mt-md-0
                            .card-body.p-2
                                .table-responsive
                                    table.table.table-hover.table-sm.mb-0
                                        thead.table-light
                                            tr
                                                th.text-nowrap Nombre
                                                th.text-nowrap Cargo
                                                th.text-nowrap Estado
                                                th.text-nowrap Cambios

                    .col-lg-4
                        p 
                

    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous") 
    script(src="https://cdn.jsdelivr.net/npm/flatpickr")
    script(src="/js/admin.js" type="module")